@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,300&family=Fuzzy+Bubbles&family=Permanent+Marker&family=Raleway:ital,wght@1,200&family=Sono&family=Zen+Dots&display=swap') ;

header {
  display: flex;
}

.login-message {
  color: yellow;
  font-family: Fuzzy bubbles , Courier New , Courier , monospace;
}

.profile-picture {
  border: 1px solid white;
  box-shadow: 2px 5px 8px rgb(252, 252, 252);
  margin: 10px;
  width: 10%;

}

.player-name {
  border: 1px solid rgb(249, 247, 247);
  box-shadow: 2px 5px 8px black;
  color: white;
  font-family: Fuzzy bubbles , Courier New , Courier , monospace;
  font-size: 30px;
  padding: 10px;
}

.player-score {
  border: 1px solid rgb(238, 237, 237);
  box-shadow: 2px 5px 8px black;
  color: white;
  font-family: Fuzzy bubbles , Courier New , Courier , monospace;
  font-size: 30px;
  padding: 10px;
}

.info-container {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}
